<form [formGroup]="elementForm">
  <div [ngSwitch]="component.componentDefinition?.controlTypeId">
    <p-editor
      *ngSwitchCase="1"
      formControlName="element"
      [style]="{ height: '320px' }"
    >
      <!-- formControlName must be what we use as the key in form-control.service -->
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button
            type="button"
            class="ql-underline"
            aria-label="Underline"
          ></button>
        </span>
      </ng-template>
    </p-editor>
    <!-- <span *ngSwitchCase="1">Put the radio buttons here</span> -->
  </div>
</form>
